---
import Base from '../layouts/Base.astro';
import Hero from '../components/Hero.astro';
import Cards from '../components/Cards.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
---

<Base>
	<main>
		<Hero />
		<Cards />
		<About />
	</main>
	<Footer />
</Base>
